<header th:fragment="header">
    <!-- header inner 
    <div class="top-bar">
      <div class="content-topbar flex-sb-m h-full container right">
          <div class="right-top-bar flex-w h-full">
                      <a href="/login" class="flex-c-m trans-04 p-lr-25">
                          Login
                      </a>
                      <a href="myaccount" class="flex-c-m trans-04 p-lr-25">
                          Your Account
                      </a>

                      <a href="/logout" class="flex-c-m trans-04 p-lr-25">
                          Log Out
                      </a>
          </div>
          <div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
            <span th:case="${false}">User is not logged in</span>
            <span th:case="${true}">Logged in user</span>
            <span th:case="*">Should never happen, but who knows...</span>
        </div>
      </div>
   </div>
-->
      
    <div class="header">
       <div class="head_top">
          <div class="container">
             <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="top-box">
                   <ul class="sociel_link">
                    <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                    <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
               </div>
             </div>
             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="right_cart_section pt-sm-3" th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                     <a href="myaccount" class="pl-2">
                        Your Account 
                    </a>
                     <a href="/login" class="pl-2" th:case="${false}" >
                        Login
                    </a>
                    <a th:case="${true}" href="/logout" class="pl-2">
                        Log Out
                    </a>
               </div>
             </div>
          </div>
       </div>
    </div>
    <div class="container">
       <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
             <div class="full">
                <div class="center-desk">
                   <div class="logo"> <a href="index.html"><img th:src="@{/web-app/images/logo.jpg}" alt="logo"/></a> </div>
                </div>
             </div>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
             <div class="menu-area">
                <div class="limit-box">
                   <nav class="main-menu">
                      <ul class="menu-area-main">
                         <li> <a href="/">Home</a> </li>
                         <li class="active"> <a th:href="@{/about}">About</a> </li>
                         <li> <a th:href="@{/product}">product</a> </li>
                         <li> <a th:href="@{/blog}"> Blog</a> </li>
                         <li> <a th:href="@{/contact}">Contact</a> </li>
                      </ul>
                   </nav>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- end header inner
   <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
            <li><a class="buy" th:href="@{/login} ">Login</a></li>
         </div> --> 
 </header>